{% extends 'base/main.html' %}

{% block container %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Giriş Yap</h3>
        <hr>
        <form method = "post">
            {% csrf_token %}
            
            {{form.as_p}}
            <br>
            <button type = "submit" class = "btn btn-danger">Giriş Yap</button> 
        </form>
        <hr>
        <a class="btn btn-primary active" role="button" aria-disabled="true" href="{% url 'user:register' %}">Hesabiniz Yoksa Kayit Olmak Icin Tiklayin</a>

    
  </div>
  
  </div>
  
{% endblock container %}