<!DOCTYPE html>
<html lang="en">

{% include 'base/head.html' %}

<body>
    
    {% block navbar %}
    {% include 'base/nav.html' %}
    {% endblock navbar %}

    
    <div class= "container">
        {% block container %}
        {% endblock container %}
    </div>
    {% block title %}
    {% endblock title %}
    
    {% if messages %}
                
                    {% for message in messages %}
                    {% if message.tags == "info" %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% else %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>

                    {% endif %}


                    {% endfor %}
                
                {% endif %}

    {% include 'base/footer.html' %}
</body>
</html>