{% extends 'base/main.html' %}

{% block container %}
<div class="row justify-content-center align-items-center">
    <div class="card" style="width: 55rem;">
      <div class="card-body">
        {% if item.picture %}
        <img class="img-fluid rounded" src="{{item.picture.url}}" alt="yok" width="800" >
        {% endif %}
        <hr>
        <h1 class="card-title">{{ item.title }}</h1>
  
        <p class="card-text">{{ item.content }}</p>
        
        {% if is_editable %}
        <a href="{% url 'post:post_update' id=item.id %}" class="btn btn-primary my-3">Duzenle</a>
        <a href="{% url 'post:delete' id=item.id %}" class="btn btn-primary my-3">Sil</a>
        <a href="/" class="btn btn-primary my-3">Geri Don</a> 
        {% endif %}
        <ul class="list-unstyled">
        Oluşturulma Tarihi : {{ item.created_at }}
      </ul>
      </div>
     <h2>{{ is_editable }}</h2>
  </div>
</div>
{% endblock container %}