{% extends 'base/main.html' %}

{% block container %}

<div class="card" style="width: 78rem;">
    <div class="card-body">
      {% if item.picture %}
      <img class="img-fluid rounded" src="{{item.picture.url}}" alt="yok">
      {% endif %}
      <h5 class="card-title">{{ item.title }}</h5>

      <p class="card-text">{{ item.content }}</p>
     

      
      <a href="{% url 'post:post_duzenle' id=item.id %}" class="btn btn-primary my-3">Duzenle</a>
      <a href="#" class="btn btn-primary my-3">Sil</a>
      <a href="/" class="btn btn-primary my-3">Geri Don</a> 

      <ul class="list-unstyled">
      Oluşturulma Tarihi : {{ item.created_at }}
    </ul>
    </div>
   
  </div>
  {% endblock container %}